.todo-container {
  margin-left: 8rem;
  margin-bottom: 5rem;
  margin-top: 5rem;
}

.todo-li {
  font-size: 50px;
  font-family: "Satisfy", cursive;
  width: 30rem;
}
.todo-li button {
  font-size: 20px;
  margin: 0.1rem;
  padding: 0.5rem;
  background-color: #2d3142;
  color: white;
  box-shadow: -2px 2px 5px 1px rgb(189, 185, 185);
}
.todo-hr {
  background-color: #c7ef00;
  border: none;
  width: 44rem;
  height: 0.5rem;
  margin-bottom: 2rem;
  margin-right: 15rem;
}

.todo-textbutton {
  font-size: 20px;
  margin: 0.1rem;
  margin-bottom: 2rem;
  padding: 0.5rem;
  background-color: #2d3142;
  color: white;
  border: none;
  float: right;
  margin-left: -20rem;
}

.todo-textArea {
  margin-bottom: 4rem;
}

.completed {
  text-decoration: line-through;
  opacity: 0.5;
  font-size: 50px;
  font-family: "Satisfy", cursive;
  width: 30rem;
}

.completed button {
  font-size: 20px;
  margin: 0.1rem;
  padding: 0.5rem;
  background-color: #2d3142;
  color: white;
 
  box-shadow: -2px 2px 5px 1px rgb(189, 185, 185);
}

.todo-date{
  opacity: 0.4;
  font-size: 1rem;
  font-family: "Goblin One";
  margin: 1rem;
}
