.todoList-container {
  margin: 200px;
  background-color: royalblue;
}

.todoList-h1 {
  font-family: "Goblin One";
  font-size: 5rem;
  background: #94849B;
  box-shadow: -5px 5px 20px 5px rgb(189, 185, 185);
  border-radius: 20rem;
  padding: 1rem;
}

.todoList-div {
  width: 50rem;
  text-align: center;
  color: #2d3142;
  margin-bottom: 9rem;
  margin-top: 1rem;
  float: left;
  margin-left: 22rem;
}
.todoList-divHeader {
  width: 50rem;
  text-align: center;
  color: #2d3142;

  text-shadow: 20px;
  margin-bottom: 9rem;
  margin-top: 1rem;
  float: left;
  margin-left: 22rem;
}

.todoList-errorDiv {
  font-family: "Goblin One";
  font-size: 2rem;
  margin-left: 10px;
}
