* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  display: flex;
  justify-content: center;
  box-shadow: -7px 5px 18px 10px rgb(189, 185, 185);
}

.App mark {
  background-color: #c7ef00;
  color: #2d3142;
  font-family: "Goblin One";

}

.App > h1 {
  width: 100%;
  text-align: center;
  color: white;
  background-image: linear-gradient(to right, #ef8354, #94849B);
  padding: 5%;
  font-family: 'Satisfy', cursive;
  font-size: 4rem;
 
}

