*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

.App{
  display: flex;
  justify-content: center;
 
}

.App > h1 {
  width: 100%;
  text-align: center;
  color: black;
  background-image: linear-gradient(to right, rgba(255,0,0,0), rgba(255,0,0,1));
  padding: 5%;
 font-family: monospace;
 font-size: 5rem;
}