*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

.App{
  display: flex;
  justify-content: center;
  
}

.App mark{
  background-color: #C7EF00;
  color: black;
}

.App > h1 {
  width: 100%;
  text-align: center;
  color: white;
  background-image: linear-gradient(to right, #EF8354, #2D3142);
  padding: 5%;
  font-family: 'Goblin One';
 font-size: 4rem;
}